body {
	margin-top: 20px;
}

#app-container {
	max-width: 500px;
	margin: 0 auto;
}

$ewl: #c3e6cb;
$nsl: #f5c6cb;
$nel: #e1c3e6;
$ccl: #ffeeba;
$dtl: #b8daff;
$spoil: #333;

.list-group-item {
	padding: 20px;
}

.ew-line {
	animation: background 200ms;
	// background: desaturate($ewl, 20%);
	color: darken($ewl, 50%);

	.status-report {
		border-color: lighten($ewl, 35%);
	}

	&.active {
		// background: $ewl;
		border-color: darken($ewl, 10%);
	}
}

.ns-line {
	animation: background 200ms;
	// background: desaturate($nsl, 20%);
	color: darken($nsl, 50%);

	.status-report {
		border-color: lighten($nsl, 35%);
	}

	&.active {
		// background: $nsl;
		border-color: darken($nsl, 10%);
	}
}

.ne-line {
	animation: background 200ms;
	// background: desaturate($nel, 20%);
	color: darken($nel, 50%);

	.status-report {
		border-color: lighten($nel, 35%);
	}

	&.active {
		// background: $nel;
		border-color: darken($nel, 10%);
	}
}

.cc-line {
	animation: background 200ms;
	// background: desaturate($ccl, 20%);
	color: darken($ccl, 50%);

	.status-report {
		border-color: darken($ccl, 35%);
	}

	&.active {
		// background: $ccl;
		border-color: darken($ccl, 10%);
	}
}

.dt-line {
	animation: background 200ms;
	// background: desaturate($dtl, 20%);
	color: darken($dtl, 50%);

	.status-report {
		border-color: lighten($dtl, 35%);
	}

	&.active {
		// background: $dtl;
		border-color: darken($dtl, 10%);
	}
}

.line-name {
	font-size: 1.25em;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
}

.line-detail:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
}

.popover-body .reportList {
    border-top: 1px solid #ccc;
    margin-top: .2rem;
    padding-left: 1.2rem;
}

.submit-status {
	float: right;

	.btn-submit-status {
		color: #333;
		border: none;
	
		&:after {
			display: none;
		}
	}

	.dropdown {
		&.show {
			.fa-exclamation-circle {
				display: none;
			}			

			.fa-exclamation {
				display: inline-block;
			}
		}

		.fa-exclamation {
			display: none;
		}

		.dropdown-item {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

#status {
	margin-bottom: 20px;
}

#submitModal {
	.lineName {
		float: left;
		margin-right: 10px;

		&.ew-line {
			color: darken($ewl, 50%);
		}
		&.ns-line {
			color: darken($nsl, 50%);
		}
		&.ne-line {
			color: darken($nel, 50%);
		}
		&.cc-line {
			color: darken($ccl, 50%);
		}
		&.dt-line {
			color: darken($dtl, 50%);
		}
	}

	.station_range_status {
		font-size: .875rem;
	}

	h1 .badge {
		float: left;
	}

	.report {
		margin-left: 10px;
	}

	.station_range_wrapper {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 15px;
	}

	.irs-bar,
	.irs-from, 
	.irs-to, 
	.irs-single {
		background-image: none;
		background-color: $spoil;
		color: #eee;
		font-size: .875rem;
	}
	.irs-from:after, 
	.irs-to:after, 
	.irs-single:after {
		border-top-color: $spoil;
	}
	.irs-slider {
		background-image: none;
	}

	.irs-line-right {
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	.irs-line-left {
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
	}
		
	.ew-line {
		.irs-line-right, .irs-line-mid, .irs-line-left {
			background-image: none;
			background-color: darken($ewl, 40%);
		}
	}
		
	.ns-line {
		.irs-line-right, .irs-line-mid, .irs-line-left {
			background-image: none;
			background-color: darken($nsl, 40%);
		}
	}
		
	.ne-line {
		.irs-line-right, .irs-line-mid, .irs-line-left {
			background-image: none;
			background-color: darken($nel, 40%);
		}
	}
		
	.cc-line {
		.irs-line-right, .irs-line-mid, .irs-line-left {
			background-image: none;
			background-color: darken($ccl, 40%);
		}
	}
		
	.dt-line {
		.irs-line-right, .irs-line-mid, .irs-line-left {
			background-image: none;
			background-color: darken($dtl, 40%);
		}
	}
}

.btn-about {
	margin-bottom: 8px;
}

.status-report {
	margin-top: 5px;

	.progress {
		height: 20px;
		font-weight: bold;
		text-align: left;
		
		.progress-bar {
			transition: width 200ms ease;
			overflow: hidden;
		}
	}
}

html:not(.touch) {
	.btn.wa_btn {
		display: none;
	}
}