<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Wisdom of the Crowd</h4>
				<p>Know someone stuck in MRT?</p>
				<p>Or someone who is taking MRT later?</p>
				<p>Share this with them so their day <strike>suck</strike> <strong>stuck</strong> less</p>
			</div>
			<div class="modal-footer">
				<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.got-mrt-breakdown-or-not.com/" target="_blank" class="btn btn-primary share-fb">
					Share <span class="badge badge-light"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
				</a>
				<a href="whatsapp://send?text=Taking mrt? Or stuck in mrt? http://www.got-mrt-breakdown-or-not.com/" class="btn btn-primary wa_btn wa_btn_s">
					Share <span class="badge badge-light"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
				</a>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>