<div id="app-container" class="row">
	<div class="col">
		<h4><i class="fa fa-subway" aria-hidden="true"></i> Got MRT Breakdown or Not?</h4>

		<div id="status"></div>

		<div id="resolution"></div>

		<div id="train-list"></div>

	</div>
</div>

<!-- Modal -->
<div id="modal-container"></div>