<button class="btn btn-outline-primary btn-sm btn-about">
	About
</button>
<div class="btn-group btn-group-sm" data-toggle="buttons">
	<label class="btn btn-secondary {{#eq reso "12"}}active{{/eq}}">
		<input class="reso-btn" type="radio" name="options" value="12" id="12h" autocomplete="off" {{#eq reso "12"}}checked{{/eq}}> 12h
	</label>
	<label class="btn btn-secondary {{#eq reso "6"}}active{{/eq}}">
		<input class="reso-btn" type="radio" name="options" value="6" id="6h" autocomplete="off" {{#eq reso "6"}}checked{{/eq}}> 6h
	</label>
	<label class="btn btn-secondary {{#eq reso "3"}}active{{/eq}}">
		<input class="reso-btn" type="radio" name="options" value="3" id="3h" autocomplete="off" {{#eq reso "3"}}checked{{/eq}}> 3h
	</label>
	<label class="btn btn-secondary {{#eq reso "1"}}active{{/eq}}">
		<input class="reso-btn" type="radio" name="options" value="1" id="1h" autocomplete="off" {{#eq reso "1"}}checked{{/eq}}> 1h
	</label>
	<label class="btn btn-secondary {{#eq reso "0.5"}}active{{/eq}}">
		<input class="reso-btn" type="radio" name="options" value="0.5" id="30min" autocomplete="off" {{#eq reso "0.5"}}checked{{/eq}}> 30min
	</label>
</div>