<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h1 class="clearfix">
					<span class="lineName {{className}}">
						{{lineName}} is 
					</span>
					{{#eq submitReport "Good"}}
					<span class="badge badge-success"> 
					{{/eq}}
					{{#eq submitReport "Slow"}}
					<span class="badge badge-warning"> 
					{{/eq}}
					{{#eq submitReport "Fault"}}
					<span class="badge badge-danger"> 
					{{/eq}}
						<span class="badge badge-light">
							{{#eq submitReport "Good"}}
							<i class="fa fa-thumbs-up" aria-hidden="true"></i> 
							{{/eq}}
							{{#eq submitReport "Slow"}}
							<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
							{{/eq}}
							{{#eq submitReport "Fault"}}
							<i class="fa fa-thumbs-down" aria-hidden="true"></i> 
							{{/eq}}
						</span>
						<span class="report">
							{{submitReport}}
						</span> 
					</span>
				</h1>

				{{#not_eq submitReport "Good"}}
					<hr>
					<button type="button" class="btn btn-sm btn-primary" id="toggle_station_range" data-toggle="button" aria-pressed="false" autocomplete="off">
					  	<i class="fa fa-check-square" aria-hidden="true" style="display: none;"></i>
					  	<i class="fa fa-square" aria-hidden="true"></i>

					  	Specify stations?
					</button>
					
					<div class="station_range_wrapper {{className}}" style="display: none;">
						<input type="text" id="station_range" name="example_name" value="" />

						<div class="station_range_status"></div>
					</div>
				{{/not_eq}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="submitStatusBtn">Report!</button>
			</div>
		</div>
	</div>
</div>