<div class="dropdown">
	<button class="btn-submit-status dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-fw fa-exclamation-circle" aria-hidden="true"></i>
		<i class="fa fa-fw fa-exclamation" aria-hidden="true"></i>
	</button>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">
			<button class="btn btn-block text-left btn-lg btn-success submit-good">
				<span class="badge badge-light">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i> 
				</span>
				Good
			</button>
		</a>
		<a class="dropdown-item" href="#">
			<button class="btn btn-block text-left btn-lg btn-warning submit-slow">
				<span class="badge badge-light">
					<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
				</span>
				Slow
			</button>
		</a>
		<a class="dropdown-item" href="#">
			<button class="btn btn-block text-left btn-lg btn-danger submit-fault">
				<span class="badge badge-light">
					<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				</span>
				Train Fault
			</button>
		</a>
	</div>
</div>