<div class="{{className}}">
	<div class="line-detail">
		<div class="line-name">{{lineName}}</div>
		<div class="submit-status">
		</div>
	</div>
	<div class="status-report">
		<div class="progress">
			<div class="progress-bar bg-success goodReport" style="width:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-status"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Good</div>
			</div>

			<div class="progress-bar bg-danger faultReport" style="width:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-status"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Fault</div>
			</div>

			<div class="progress-bar bg-warning slowReport" style="width:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				<div class="progress-status"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Slow</div>
			</div>
		</div>
	</div>
</div>