<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h4>Wisdom of the Crowd</h4>
				<p>The <strong>power</strong> to inform others about MRT breakdown is in your hands. Updating this in real time and <strong>reports can only be submitted every 5 minutes</strong></p>
				<p>I got tired of reading through Facebook post and wondering which line is down and which one is having a train fault.</p>
				<p>So I built something to allow commuters to report which line is good, slowing down or having a fault (track fault, system fault, signal fault, collision etc)</p>
				<p><strong>How reliable is the data collected?</strong></p>
				<p>As per the nature of <a href="https://www.informatica.com/potential-at-work/crowdsourced-data-can-you-trust-it.html" target="_blank">Crowd Sourcing</a> and <a href="https://en.wikipedia.org/wiki/User-generated_content" target="_blank">User Generated Contents</a>, it is only as reliable as the source.</p>
				<p>Made by <a href="http://www.mdhilwan.tech" target="_blank">mdhilwan.tech</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>